/* 초기화 */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}


/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */

.header {
  height: 117px;
  border-bottom: 1px solid var(--color-gray-100);
}  

.header__inner {
  margin: 0 auto;
  width: 1020px;
}  

.button--category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 110px;
  height: 116px;
  color: var(--color-white);
  background-color: var(--color-blue-600);
}  

.btn-category-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 12px;
}  

.button--category:focus {
  outline: none;
}  

.button--category:focus-visible {
  box-shadow: 0 0 0 1px var(--color-red-500);
  border-radius: 4px;
}  


/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

.navigation {
  margin: 0 auto;
  width: 1020px;
}

/* 보더 반응형 어떻게 만들까... */
.navigation__inner {
  position: relative;
  /* display: inline; */
  /* position: relative; */
  width: 540px;
  height: 500px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__list {
  width: 180px;
  height: 500px;
  padding: 10px 5px;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
}

.navigation__list li {
  display: flex;
  align-items: center;
  width: 170px;
  height: 30px;
  padding-left: 20px;
  padding-right: 12.5px;
  color: var(--color-back);
}

.navigation__list li a {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}

.nav-2depth, .nav-3depth {
  position: absolute;
  left: 180px;
  top: 0;
}

.nav-1depth-list .nav-btn i {
  font-size: 20px;
  /* width: 20px; */
  /* height: 20px; */
  margin-right: 4px;
}

.new {
  margin-left: 4px;
}

.navigation, .nav-2depth, .nav-3depth {
  display: none;
}

.navigation.is--active, .nav-2depth.is--active, .nav-3depth.is--active {
  display: block;
}

.nav-btn.is--active, .nav-btn:focus, .nav-btn:hover {
  font-weight: 700;
  color: var(--color-blue-600);
  outline: none;
  background-image: url(../../assets/icon/more-right-active.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.nav-link:focus, .nav-link:hover {
  font-weight: 700;
  color: var(--color-blue-600);
  outline: none;
}

.nav-2depth::before, .nav-3depth::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 500px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.25);
}







/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  min-height: 52rem;
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
