/* Base 스타일 작성 */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	border: 0;
    font-size: medium;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

